* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --bg-color: #EDF2FF;
    --text-color: #00082F;
    --primary-color: #6f42eb;
    --primary-color-dark: #3f297c;
    --text-shadow: 5px 5px 2px #aaaaaa;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.dark {
    --bg-color: #110320;
    --text-color: #FFFFFF;
    --text-shadow: 5px 5px 2px #2f2d31;
}

.pink {
    --bg-color: #FFF0F6;
    --text-color: #1F000B;
    --primary-color: #D6336C;
    --primary-color-dark: #A61E4D;
}

.dark-pink {
    --bg-color: #351622;
    --text-color: #FFFFFF;
    --primary-color: #D6336C;
    --primary-color-dark: #A61E4D;
}

.icon {
    width: 300px;
    margin: 0px auto;
    text-align: end;
    cursor: pointer;
    color: #00082F;
    font-size: 20px;
    font-weight: bolder;
}

.icon::before {
    content: "\f042";
    font-family: fontawesome;
    opacity: 0.6;
}

.icon:hover::before {
    opacity: 1;
    transition: opacity 400ms;
    color: #00082F;
}

.mode.dark .icon::before {
    content: "\f042";
    color: #FFFFFF;
}

.mode.dark .icon:hover::before {
    color: #ecf019;
}

.container {
    text-align: center;
    width: 300px;
    margin: 0px auto;
}

img {
    width: 100%;
}

img.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: var(--primary-color) solid 4px;
    padding: 3.7px;
}

h1 {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    opacity: 0.8;
    font-size: 16px;
}

ul {
    list-style: none;
    margin: 48px 0;
}

ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;
    box-shadow: var(--text-shadow);
}

ul li a:hover {
    background: var(--primary-color-dark);
    transition: background 400ms;
}

a {
    text-decoration: none;
}

footer {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    transition: opacity 400ms;
}

footer:hover {
    opacity: 1;
}
footer a {
    color: var(--text-color);
}
